/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 0px;
}
body {
	font-family: "Times New Roman", Times, serif;
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 100px;
	background: url("../img/patterns/01.jpeg");
}

/* ------------------------ */

.content {
	padding: 50px;
	background: url("../img/patterns/02.jpeg");
}
.header {
	margin-bottom: 50px;
	padding: 50px;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: chartreuse;
	text-decoration: underline;
}
.background-color {
	padding: 20px;
	margin: 0 0 50px 0;
	background-color: chocolate;
}
.background-color-block {
	background-color: crimson;
}
.backgtound-color-title {
	width: 50%;
	background-color: cyan;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}

.background-color-text {
	background-color: darkgreen;
	padding: 10px;
	text-align: left;
}
.background-color-text p {
	margin-bottom: 10px;
}

.background-image {
	color: #fff;
	padding: 100px;
	margin: 0 0 50px 0;
	background-image: url("../img/backgrounds/01.jpeg");
}
.background-image-block {
	padding: 100px;
	background: url("../img/backgrounds/02.jpeg");
}
.backgtound-image-title {
	background: linear-gradient(
		to right,
		rgba(228, 245, 252, 1) 0%,
		rgba(191, 232, 249, 1) 50%,
		rgba(159, 216, 239, 1) 51%,
		rgba(42, 176, 237, 1) 100%
	);
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.background-image-text {
	padding: 10px;
	text-align: left;
}
.background-image-text p {
	margin-bottom: 10px;
}
.background-repeat {
	padding: 100px;
	margin: 0 0 50px 0;
	background-image: url("../img/backgrounds/03.jpeg");
	background-repeat: space;
}
.background-repeat-block {
	color: #b11313;
	padding: 100px;
	background: url("../img/backgrounds/04.jpeg") round;
}
.backgtound-repeat-title {
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.background-repeat-text {
	padding: 10px;
	text-align: left;
}
.background-repeat-text p {
	margin-bottom: 10px;
}
.background-repeat-list li {
	padding-bottom: 5px;
	background: url("../img/patterns/03.jpeg") repeat-x;
}

.background-position {
	color: #fff;
	padding: 100px;
	margin: 0 0 50px 0;
	background: url("../img/backgrounds/05.jpeg") 0 0 no-repeat;
}
.background-position-block {
	padding: 100px;
	background: url("../img/backgrounds/06.jpeg") 100% 100% no-repeat;
}
.backgtound-position-title {
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.background-position-text {
	padding: 10px;
	text-align: left;
}
.background-position-text p {
	margin-bottom: 10px;
}
.background-position-list li {
	padding-bottom: 5px;
}

.background-size {
	color: #fff;
	padding: 100px;
	margin: 0 0 50px 0;
	background: url("../img/backgrounds/07.jpeg") 50% / cover no-repeat;
}
.background-size-block {
	padding: 80px;
	background: url("../img/backgrounds/08.jpeg") 50% / cover no-repeat;
}
.backgtound-size-title {
	background-color: blue;
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.background-size-text {
	padding: 10px;
	text-align: left;
}
.background-size-text p {
	margin-bottom: 10px;
}
.background-size-list li {
	padding-bottom: 5px;
}

.background-attachment {
	padding: 0 300px 0 300px;
}
.background-attachment-block {
	padding: 100px;
}
.backgtound-attachment-title {
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.background-attachment-text {
	background: url("../img/backgrounds/09.jpeg") 50% / cover no-repeat fixed;
	padding: 50px;
	text-align: left;
}
.background-attachment-text p {
	margin-bottom: 10px;
}
.background-attachment-list li {
	padding-bottom: 5px;
}

.severalbackgrounds {
	padding: 100px;
	margin: 0 0 150px 0;
	background: url("../img/backgrounds/11.jpeg") 0 100% / 300px auto no-repeat,
		url("../img/backgrounds/10.jpeg") 100% 50% / 200px no-repeat, #fff url("../img/patterns/04.jpeg") no-repeat;
}
.severalbackgrounds-block {
	padding: 50px;
}
.severalbackgrounds-title {
	width: 50%;
	padding: 5px;
	margin: 0 auto 20px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
.severalbackgrounds-text {
	padding: 10px;
	text-align: left;
}
.severalbackgrounds-text p {
	margin-bottom: 10px;
}

/* ----------------------------------- */

.footer {
	font-family: "Roboto", sans-serif;
	font-size: 0;
}

.footer-title {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 30px 0;
	text-align: center;
}
.list {
	max-width: 100px;
	margin: 0 0 30px 0;
}
.list li {
	font-size: 10px;
	min-height: 30px;
	background: url("../img/icons/icon.png") 100% 0 no-repeat;
	padding: 9px 40px 0 10px;
	margin: 0 0 10px 0;
}

.contact {
	max-width: 280px;
	color: #4b4b4b;
	background-color: #f5f5f5;
	margin: 0 0 100px 0;
	padding: 20px;
}
.contact-title {
	max-width: 205px;
	margin: 0 0 30px 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
}
.contact-list {
	font-size: 14px;
	letter-spacing: 0.15px;
}
.contact-list li {
	min-height: 16px;
	padding: 0 0 0 35px;
	margin: 0 0 16px 0;
}
.item1 {
	background: url("../img/icons/01.png") 1px 1px no-repeat;
}
.item2 {
	background: url("../img/icons/02.png") 1px 1px no-repeat;
}
.item3 {
	background: url("../img/icons/03.png") 1px 1px no-repeat;
}
.item4 {
	background: url("../img/icons/04.png") 1px 1px no-repeat;
}

.block {
	padding: 125px 550px 230px 110px;
	color: #fff;
	background: url("../img/backgrounds/heroshot.jpg") 50% / cover no-repeat;
	margin: 0 0 150px 0;
}
.block-title {
	max-width: 580px;
	margin: 0 0 50px 0;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
}

.blockbutton {
	display: inline-block;
	min-height: 48px;
	background: #c40b0b url("../img/backgrounds/Butto_Treatment_48px.png") 100% 0 no-repeat;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	color: #ffffff;
	border-radius: 2px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	padding: 14px 47px 10px 20px ;
}

.block2 {
	font-size: 0px;
	background: url("../img/backgrounds/bg_image.png");
	padding: 110px 177px 210px 177px;
}

.block2title {
	display: inline-block;
	color: #fff;
	max-width: 411px;
	margin: 0 110px 80px 0;
}
.topparttitle {
	background: url("../img/icons/Overline_Mark.png") no-repeat;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	min-height: 16px;
	padding: 2px 0 0 33px;
	margin: 0 0 32px 0;
}
.bottomparttitle {
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0px;
}
.image {
	display: inline-block;
	vertical-align: top;
	margin: -180px 0 0 0;
}

.block2item{
	font-size: 16px;
	width: 237px;
	margin: 0 20px 0 0;
	display: inline-block;
}

.block2image {
	display: inline-block;
	margin: 0 7px 0 0 ;
}
.block2achievementcontent {
	max-width: 150px;
	vertical-align: top;
	display: inline-block;
}
.block2achievementtitle {
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0px;
	color: #c40b0b;
	margin: 0 0 3px 0;
}
.block2text {
	color: #fff;
	line-height: 24px;
	letter-spacing: 0.15px;
}
